<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <a th:href="@{/}"><img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                                       src="../../../resources/images/logoHeader.png" /></a><h1><span th:text="#{organization.name}">Organization Name</span><small th:text="#{application.name}" >Application Name</small></h1>
            </div>

            <div class="navbar-inner"  th:if="${session.loggedInUser != null}">
                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode != 0}" class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span th:text="#{application.name.with.leading.space}" class="glyphicon glyphicon-th-list"></span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/help" th:href="@{/help}"><i class="icon-th-list"></i>Test menu option to help</a></li>                            
                            <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="/about" th:href="@{/about}"><i class="icon-th-list"></i>Test Admin Only</a></li>                            
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help" th:href="@{/help}"><i class="icon-question-sign"></i>&nbsp;<span th:text="#{label.help}">Help</span></a></li>
                    <li class="divider"></li>
                    <li><a href="/about" th:href="@{/about}"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;<span th:text="#{label.about}">About</span></a></li>
                    <li class="divider"></li>
                    <li th:if="${session.loggedInUser.userTypeCode != 0}"><a href="/logout" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;<span th:text="#{label.logout}">Logout</span></a></li>
                </ul>

            </div>
        </div>
        
        <!-- note that the th:if below will stop the empty tags from appearing in the html if no message provided. -->
        <p th:if="${not #strings.isEmpty(errorMessage)}" class="error" th:text="${errorMessage}"></p>
        <p th:if="${not #strings.isEmpty(notificationMessage)}"  class="notification" th:text="${notificationMessage}"></p>

    </body>

</html>